.Header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px 20px 50px;
}

.Header span {
    color: #ae16cd;
}

#register-btn {
    background-color: #d434f3;
    padding: 10px 40px 10px 40px;
    border-radius: 2px;
}

#register-btn a {
    color: #fff;
    text-decoration: none;
}

.hamburger-menu li a {
    text-decoration: none;
    padding: 20px;
    color: #fff;
}

.hamburger-menu li, #register-btn {
    list-style: none;
}

.hamburger-menu {
    display: flex;
}